In [ ]:
# Imports
import pandas as pd
import numpy as np
from pandas.core.frame import DataFrame
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Data Read
data = pd.read_csv("data.csv")
data_new = data.copy()
print(data)
data = data.drop(data.columns[0], axis = 1)

  Fund Name    P1    P2   P3    P4     P5
0        M1  0.64  0.41  5.8  42.0  12.21
1        M2  0.76  0.58  3.0  61.3  16.41
2        M3  0.69  0.48  3.7  46.9  12.94
3        M4  0.87  0.76  3.9  61.1  16.66
4        M5  0.66  0.44  6.2  47.4  13.68
5        M6  0.85  0.72  4.0  59.5  16.27
6        M7  0.69  0.48  4.9  67.9  18.49
7        M8  0.68  0.46  6.3  43.6  12.76

In [ ]:
# Calculate root of sum of square
data = data_new.copy()
data_new = data_new.drop(data_new.columns[0], axis = 1)
data_new.columns = range(len(data_new.columns))
squared_sum = data_new ** 2
root_squared_sum = np.sqrt(squared_sum.sum())
print(root_squared_sum)

0      2.077691
1      1.570509
2     13.772436
3    154.119726
4     42.660572
dtype: float64

In [ ]:
# Normalizing Value
data_new = data_new / root_squared_sum
print(data_new)

          0         1         2         3         4
0  0.308034  0.261062  0.421131  0.272515  0.286213
1  0.365791  0.369307  0.217826  0.397743  0.384664
2  0.332099  0.305633  0.268653  0.304309  0.303325
3  0.418734  0.483919  0.283174  0.396445  0.390525
4  0.317660  0.280164  0.450175  0.307553  0.320671
5  0.409108  0.458450  0.290435  0.386063  0.381383
6  0.332099  0.305633  0.355783  0.440567  0.433421
7  0.327286  0.292899  0.457435  0.282897  0.299105

In [ ]:
# Assigning Weights
weights = [0.25, 0.25, 0.25, 0.25, 0.25]
data_new = data_new * weights
print(data_new)

          0         1         2         3         4
0  0.077009  0.065265  0.105283  0.068129  0.071553
1  0.091448  0.092327  0.054457  0.099436  0.096166
2  0.083025  0.076408  0.067163  0.076077  0.075831
3  0.104684  0.120980  0.070794  0.099111  0.097631
4  0.079415  0.070041  0.112544  0.076888  0.080168
5  0.102277  0.114612  0.072609  0.096516  0.095346
6  0.083025  0.076408  0.088946  0.110142  0.108355
7  0.081822  0.073225  0.114359  0.070724  0.074776

In [ ]:
# Calculating ideal value using impacts
impacts = ["-", "+", "+", "+", "-"]
vj_max = pd.Series()
vj_min = pd.Series()

for i in range(len(impacts)):
  if impacts[i] == "+":
    vj_max[i] = data_new[i].max()
    vj_min[i] = data_new[i].min()
  else:
    vj_max[i] = data_new[i].min()
    vj_min[i] = data_new[i].max()

print(vj_max)
print("\n", vj_min)

0    0.077009
1    0.120980
2    0.114359
3    0.110142
4    0.071553
dtype: float64

 0    0.104684
1    0.065265
2    0.054457
3    0.068129
4    0.108355
dtype: float64

In [ ]:
# Calculating euclidean distance
st_max = np.sqrt(((data_new - vj_max) ** 2).sum(axis = 1))
st_min = np.sqrt(((data_new - vj_min) ** 2).sum(axis = 1))
print(st_max)
print("\n", st_min)

0    0.070367
1    0.073063
2    0.073681
3    0.058869
4    0.061513
5    0.056337
6    0.063427
7    0.062192
dtype: float64

 0    0.068583
1    0.045124
2    0.043310
3    0.066678
4    0.070048
5    0.061200
6    0.059564
7    0.072860
dtype: float64

In [ ]:
# Calculating Performance Score
p = st_min / (st_min + st_max)
print(p)

0    0.493579
1    0.381803
2    0.370196
3    0.531098
4    0.532436
5    0.520689
6    0.484293
7    0.539496
dtype: float64

In [ ]:
# Ranking based on Performance Score
rank = p.rank(ascending = False).astype(int)
print(rank)

0    5
1    7
2    8
3    3
4    2
5    4
6    6
7    1
dtype: int64

In [ ]:
# Joining performance score and rank in original dataset
data["Performance Score"] = p
data["Rank"] = rank
print(data)

  Fund Name    P1    P2   P3    P4     P5  Performance Score  Rank
0        M1  0.64  0.41  5.8  42.0  12.21           0.493579     5
1        M2  0.76  0.58  3.0  61.3  16.41           0.381803     7
2        M3  0.69  0.48  3.7  46.9  12.94           0.370196     8
3        M4  0.87  0.76  3.9  61.1  16.66           0.531098     3
4        M5  0.66  0.44  6.2  47.4  13.68           0.532436     2
5        M6  0.85  0.72  4.0  59.5  16.27           0.520689     4
6        M7  0.69  0.48  4.9  67.9  18.49           0.484293     6
7        M8  0.68  0.46  6.3  43.6  12.76           0.539496     1